<div class="menu-bar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">icon space</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/business/createTest">Books</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/business/">easeTest/Business</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <!--TODO change colors of buttons and add spacing-->
                <!--TODO expand buttons if in collapsed menu-->
                <!--TODO if only settings button on left take out of collapse menu-->
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="hasRole('ROLE_USER')">
                <li class="nav-item">
                    <a href="/" class="btn btn-secondary">Back to main page</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="btn btn-danger">Log out</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>